.task1 {
  background-color: green;
}

.task2 {
  background-image: url('/img/img-400x200.jpg');
}

.task3 {
  background: linear-gradient(180.07deg, #F8FD04 0.06%, #FF0000 108.63%);
}

.task4 {
  background: radial-gradient(49.98% 50% at 49.98% 50%, #3f87a6 0%, #ebf8e1, #f69d3c 100%);
}

.task5 {
  background: conic-gradient(from 3.1416rad at 10% 50%, #e66465, #9198e5);
}

.task6 {
  background-repeat: repeat-x;
  background-image: url('/img/img-400x200.jpg');

}

.task7 {
  background-repeat: repeat-y;
  background-image: url('/img/img-400x200.jpg');
} 

.task8 {
  background-repeat: no-repeat;
  background-image: url('/img/img-400x200.jpg');
}

.task9 {
  background-repeat: repeat-y;
  background: space;
  background-image: url('/img/img-400x200.jpg');

}

.task10 {
  background-repeat: round;
  background-image: url('/img/img-400x200.jpg');
}

.task11 {
  background-attachment: scroll;
  background-image: url('/img/img-400x200.jpg');
}

.task12 {
  background-attachment: fixed;
  background-image: url('/img/img-400x200.jpg');
}

.task13 {
  background-attachment: local;
  background-image: url('/img/img-400x200.jpg');
}

.task14 {
  background-position: center;
  background-image: url('/img/img-400x200.jpg');
}

.task15 {
  background-position: top;
  background-image: url('/img/img-400x200.jpg');
}

.task16 {
  background-position: bottom;
  background-image: url('/img/img-400x200.jpg');
}

.task17 {
  background: left;
  background-image: url('/img/img-400x200.jpg');
}

.task18 {
  background-position: right;
  background-image: url('/img/img-400x200.jpg');
}

.task19 {
  background-image: url('/img/img-400x200.jpg');
  background-position: 100px;
}

.task20 {
  background-image: url('/img/img-400x200.jpg');
  background-size: auto;
}

.task21 {
  background-image: url('/img/img-400x200.jpg');
  background-size: 600px;
}

.task22 {
  background-image: url('/img/img-400x200.jpg');
  background-size: 50%;
}

.task23 { 
  background-image: url('/img/img-400x200.jpg');
  background-size: contain;
}

.task24 {
  background-image: url('/img/img-400x200.jpg');
  background-size: cover;
}

.task25 {
  border: 20px dashed black;
  background-image: url('/img/img-400x200.jpg');
  box-sizing: border-box;
  background-clip: border-box;
}

.task26 {
  background-image: url('/img/img-400x200.jpg');
  border: 20px dashed black;
  box-sizing: border-box;
  background-clip: padding-box;
}

.task27 {
  background-image: url('/img/img-400x200.jpg');
  font-size: 120px;
  font-weight: 900;
  color: transparent;
  border: solid transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.task28 {
  background-image: url('/img/img-400x200.jpg');
  box-sizing: border-box;
  border: 20px dashed black;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.task29 {
  background-image: url('/img/img-400x200.jpg');
  box-sizing: border-box;
  border: 20px dashed black;
  padding: 20px;
  background-repeat: no-repeat;
}

.task30 {
  background-image: url('/img/img-400x200.jpg');
  box-sizing: border-box;
  border: 20px dashed black;
  background-repeat: no-repeat;
  font-size: 100px;
  font-weight: 900;
  padding: 60px;
  background-position: 50px 50px;
}

.task31 {

  border-image-slice: 1%;
  border-image-width: 40px;
  box-sizing: border-box;
  border-image-source: -webkit-linear-gradient(blue, green);
}

.task32 {
 
  border-image-slice: 1%;
  border-image-width: 40px;
  box-sizing: border-box;
  border-image-source: -webkit-radial-gradient(red 5%, green 15%, blue 60%);
 
}

.task33 {
  border-image-source: url('/img/img-400x200.jpg');
  box-sizing: border-box;
  border-image-width: 40px;
  border-image-slice: 10;

}
